# Universidad del Desarrollo
## Magister Data Science - Macroeconomía
### Grupo N°2: (Región de los Lagos)
* Jose Pedro
* Cristian
* Paul
* Max
* Hernan

## Calculo Indice Precios al Consumidor

**Objetivo**

El objetivo de este notebook es el calculo de IPC según el siguiente algortimo.

$ 
\begin{equation*}
IPC_t   = |\sum_{k=1}^N \frac{p_i^t}{p_i^0} w_i| * 100
\end{equation*} 
$

Donde:
* $ p_i^t $ = Precio del producto i en el momento t
* $ p_i^0 $ = Precio del producto 0 en el mes base **(2014/08=100)**
* $ w_i   $ = Ponderación del producto i en la canasta
* N = Numero de productos

In [7]:
import pandas as pd
import numpy as np
import calendar
import datetime

%matplotlib inline

### 1. Se cargan el dataset de productos

In [3]:
df = pd.read_csv('output/precios_productos.csv')

In [4]:
df.head()

      Momento        Sector  Producto  Factor
0  2014-08-01     Frutillar  Legumbre     1.0
1  2014-08-01    Llanquihue  Legumbre     1.0
2  2014-08-01        Osorno  Legumbre     1.0
3  2014-08-01  Puerto Montt  Legumbre     1.0
4  2014-08-01  Puerto Varas  Legumbre     1.0

In [5]:
df.Sector.value_counts()

Osorno          517
Llanquihue      517
Frutillar       517
Puerto Montt    517
Puerto Varas    517
Name: Sector, dtype: int64

### 2. Calculamos para Osorno