# Universidad del Desarrollo
## Magister Data Science - Macroeconomía
### Grupo N°2: (Región de los Lagos)
* Jose Pedro
* Cristian
* Paul
* Max
* Hernan

## Exploracion de archivos

**Objetivo**

Obtener la serie de precios de los productos agregados por sector

In [1]:
import pandas as pd

### 1. Se cargan los productos de la ODEPA

In [2]:
df_01 = pd.read_excel('input/aceite.xlsx')
df_02 = pd.read_excel('input/azucar.xlsx')
df_03 = pd.read_excel('input/carnes.xlsx')
df_04 = pd.read_excel('input/cereales.xlsx')
df_05 = pd.read_excel('input/frutas.xlsx')
df_06 = pd.read_excel('input/harina.xlsx')
df_07 = pd.read_excel('input/hortalizas.xlsx')
df_08 = pd.read_excel('input/huevos.xlsx')
df_09 = pd.read_excel('input/lacteos.xlsx')
df_10 = pd.read_excel('input/legumbres.xlsx')
df_11 = pd.read_excel('input/pan.xlsx')

In [3]:
df_01["Tipo"] = "Aceite"
df_02["Tipo"] = "Azucar"
df_03["Tipo"] = "Carnes"
df_04["Tipo"] = "Cereales"
df_05["Tipo"] = "Frutas"
df_06["Tipo"] = "Harina"
df_07["Tipo"] = "Hortaliza"
df_08["Tipo"] = "Huevos"
df_09["Tipo"] = "Lacteos"
df_10["Tipo"] = "Legumbre"
df_11["Tipo"] = "Pan"

In [ ]:
df

In [4]:
dfs = [df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11]

### 2. Funcion para normalizar periodo

In [5]:
def GetPeriodo(mes):
    tmp = mes.split("/") 
    return tmp[1] + "-" + tmp[0]

### 3. Creacion de Dataset que corresponde a nuestra canasta

In [6]:
for df in dfs:
    df["Momento"] = df["Mes/Año"].map(GetPeriodo)

In [7]:
df_01.head()

,Mes/Año,Sector,Producto,Unidad,Precio mínimo,Precio máximo,Precio promedio,Tipo,Momento
0,08/2014,Osorno,Maravilla,$/litro,1129,2249,1558.2966,Aceite,2014-08
1,08/2014,Osorno,Vegetal,$/litro,790,1735,1410.9042,Aceite,2014-08
2,08/2014,Puerto Montt,Maravilla,$/litro,1220,1719,1516.6203,Aceite,2014-08
3,08/2014,Puerto Montt,Vegetal,$/litro,809,1749,1357.3113,Aceite,2014-08
4,09/2014,Frutillar,Maravilla,$/litro,1589,1768,1680.2222,Aceite,2014-09

### 4. Concatenamos archivos

In [8]:
pd.concat([df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11]).to_csv("output/rlagos_canasta.csv", index=False)

### 5. Se abre archivo de ponderados del INE

In [11]:
dx = pd.read_excel("input/ipc_producto_historico_julio2018.xlsx")