# Universidad del Desarrollo
## Magister Data Science - Macroeconomía
### Grupo N°2: (Región de los Lagos)
* Jose Pedro
* Cristian
* Paul
* Max
* Hernan

## Calculo Indice Precios al Consumidor

**Objetivo**

El objetivo de este notebook es el calculo de IPC según el siguiente algortimo.

$ 
\begin{equation*}
IPC_t   = |\sum_{k=1}^N \frac{p_i^t}{p_i^0} w_i| * 100
\end{equation*} 
$

Donde:
* $ p_i^t $ = Precio del producto i en el momento t
* $ p_i^0 $ = Precio del producto 0 en el mes base **(2014/08=100)**
* $ w_i   $ = Ponderación del producto i en la canasta
* $ v_j^t $ = Precio de la variaedad j en el momento t
* N = Numero de productos
* n = Numero de variedades

Dados los siguientes supuestos:
* n = 2
* t = 2014/09

Entonces:

P = ([ p_var1(2014-09) / p_var1(2014-08) ]$**$(1/2)) $*$ ([ p_var2(2014-09) / p_var2(2014-08) ]$**$(1/2))

In [1]:
import pandas as pd
import numpy as np
import calendar
import datetime

%matplotlib inline

### 1. Se carga RUT con los productos

In [2]:
df = pd.read_csv('output/canasta_ipc.csv')

In [3]:
df.head()

   Momento     Sector Producto   Variedad     Promedio
0  2014-08  Frutillar   Aceite  Maravilla  1807.484158
1  2014-09  Frutillar   Aceite  Maravilla  1680.222200
2  2014-10  Frutillar   Aceite  Maravilla  1651.904700
3  2014-11  Frutillar   Aceite  Maravilla  1807.484158
4  2014-12  Frutillar   Aceite  Maravilla  1807.484158

In [4]:
df.Producto.value_counts()

Carnes       12692
Hortaliza     9587
Frutas        7951
Lacteos       2350
Pan           1925
Legumbre      1410
Cereales       940
Huevos         470
Harina         470
Aceite         470
Azucar         235
Name: Producto, dtype: int64

### 2.- Transformamos Monento a un tipo de dato fecha para iterar sobre el periodo

In [5]:
df["Momento"] = pd.to_datetime(df["Momento"])

In [6]:
df.head()

     Momento     Sector Producto   Variedad     Promedio
0 2014-08-01  Frutillar   Aceite  Maravilla  1807.484158
1 2014-09-01  Frutillar   Aceite  Maravilla  1680.222200
2 2014-10-01  Frutillar   Aceite  Maravilla  1651.904700
3 2014-11-01  Frutillar   Aceite  Maravilla  1807.484158
4 2014-12-01  Frutillar   Aceite  Maravilla  1807.484158

* Años base:

In [7]:
base = datetime.date(2014, 8, 1)

### 3. Creamos una funcion para restar un mes al periodo de estudio

In [8]:
def add_months(sourcedate, months):
    month = sourcedate.month - 1 + months
    year = sourcedate.year + month // 12
    month = month % 12 + 1
    day = min(sourcedate.day, calendar.monthrange(year, month)[1])
    return datetime.date(year, month, day)

### 4. Creamos función para calculo de la serie factores de producto

In [9]:
def GetSerieProducto(df_input, group):
    v = []
    for name, g in group: 
        
        factor = 1
        n = g.Promedio.count()

        if g.Momento.iloc[0].date() > base:
            for row_num, row in g.iterrows(): 

                Pro1 = row["Promedio"]
                Mom2 = add_months(row["Momento"], -1)

                Pro2 = df_input[(df_input.Sector==row["Sector"]) & (df_input.Momento == Mom2) & (df_input.Variedad == row["Variedad"])]["Promedio"].iloc[0]

                factor *= (Pro1/Pro2)**(1/n)

        name = name + (factor,)  
        v.append(name)
    
    return pd.DataFrame(v, columns=['Momento', 'Sector', 'Producto', 'Factor'])

### 5. Calculo de factores de productos

#### 5.1 Aceite

In [11]:
df_aceite = df[df.Producto=="Aceite"]
group = df_aceite.groupby(['Momento', 'Sector', 'Producto'])

In [12]:
dfs_aceite = GetSerieProducto(df_aceite, group)

In [13]:
dfs_aceite.sample(3)

       Momento        Sector Producto    Factor
37  2015-03-01        Osorno   Aceite  1.020251
132 2016-10-01        Osorno   Aceite  0.971118
108 2016-05-01  Puerto Montt   Aceite  0.958993

#### 5.2 Harina

In [14]:
df_harina = df[df.Producto=="Harina"]
group = df_harina.groupby(['Momento', 'Sector', 'Producto'])

In [15]:
dfs_harina = GetSerieProducto(df_harina, group)

In [16]:
dfs_harina.sample(3)

       Momento        Sector Producto    Factor
160 2017-04-01     Frutillar   Harina  1.091499
58  2015-07-01  Puerto Montt   Harina  0.991925
139 2016-11-01  Puerto Varas   Harina  1.025742

#### 5.3. Cereales

In [17]:
df_cereales = df[df.Producto=="Cereales"]
group = df_cereales.groupby(['Momento', 'Sector', 'Producto'])

In [18]:
dfs_cereales = GetSerieProducto(df_cereales, group)

In [19]:
dfs_cereales.sample(3)

       Momento        Sector  Producto    Factor
80  2015-12-01     Frutillar  Cereales  0.945613
141 2016-12-01    Llanquihue  Cereales  0.973929
154 2017-02-01  Puerto Varas  Cereales  1.014303

#### 5.4 Azucar

In [20]:
df_azucar = df[df.Producto=="Azucar"]

In [21]:
group = df_azucar.groupby(['Momento', 'Sector', 'Producto'])

In [22]:
dfs_azucar = GetSerieProducto(df_azucar, group)

In [23]:
dfs_azucar.sample(3)

       Momento        Sector Producto    Factor
76  2015-11-01    Llanquihue   Azucar  0.998325
195 2017-11-01     Frutillar   Azucar  1.001695
169 2017-05-01  Puerto Varas   Azucar  1.000663

#### 5.5 Carne

In [24]:
df_carnes = df[df.Producto=="Carnes"]

In [25]:
group = df_carnes.groupby(['Momento', 'Sector', 'Producto'])

In [26]:
dfs_carnes = GetSerieProducto(df_carnes, group)

In [27]:
dfs_carnes.sample(3)

       Momento        Sector Producto    Factor
128 2016-09-01  Puerto Montt   Carnes  1.008295
125 2016-09-01     Frutillar   Carnes  0.985040
228 2018-05-01  Puerto Montt   Carnes  1.091609

#### 5.6 Hortaliza

In [28]:
df_hortaliza = df[df.Producto=="Hortaliza"]

In [29]:
group = df_hortaliza.groupby(['Momento', 'Sector', 'Producto'])

In [30]:
dfs_hortaliza = GetSerieProducto(df_hortaliza, group)

In [31]:
dfs_hortaliza.sample(3)

       Momento      Sector   Producto    Factor
72  2015-10-01      Osorno  Hortaliza  0.969710
230 2018-06-01   Frutillar  Hortaliza  0.999328
156 2017-03-01  Llanquihue  Hortaliza  1.034376

#### 5.7 Frutas

In [32]:
df_frutas = df[df.Producto=="Frutas"]

In [33]:
group = df_frutas.groupby(['Momento', 'Sector', 'Producto'])

In [34]:
dfs_frutas = GetSerieProducto(df_frutas, group)

In [35]:
dfs_frutas.sample(3)

       Momento      Sector Producto    Factor
62  2015-08-01      Osorno   Frutas  0.921741
151 2017-02-01  Llanquihue   Frutas  1.045662
221 2018-04-01  Llanquihue   Frutas  0.962329

#### 5.8 Lacteos

In [36]:
df_lacteos = df[df.Producto=="Lacteos"]

In [37]:
group = df_lacteos.groupby(['Momento', 'Sector', 'Producto'])

In [38]:
dfs_lacteos = GetSerieProducto(df_lacteos, group)

In [39]:
dfs_lacteos.sample(3)

       Momento        Sector Producto    Factor
136 2016-11-01    Llanquihue  Lacteos  0.984688
233 2018-06-01  Puerto Montt  Lacteos  0.994148
27  2015-01-01        Osorno  Lacteos  0.994705

#### 5.9 Pan

In [40]:
df_pan = df[df.Producto=="Pan"]

In [41]:
group = df_pan.groupby(['Momento', 'Sector', 'Producto'])

In [42]:
dfs_pan = GetSerieProducto(df_pan, group)

In [43]:
dfs_pan.sample(3)

      Momento        Sector Producto    Factor
23 2014-12-01  Puerto Montt      Pan  1.009984
3  2014-08-01  Puerto Montt      Pan  1.000000
91 2016-02-01    Llanquihue      Pan  1.043238

#### 5.10 Huevos

In [44]:
df_huevos = df[df.Producto=="Huevos"]

In [45]:
group = df_huevos.groupby(['Momento', 'Sector', 'Producto'])

In [46]:
dfs_huevos = GetSerieProducto(df_huevos, group)

In [47]:
dfs_huevos.sample(3)

       Momento        Sector Producto    Factor
19  2014-11-01  Puerto Varas   Huevos  1.018912
121 2016-08-01    Llanquihue   Huevos  1.047361
171 2017-06-01    Llanquihue   Huevos  0.948117

#### 5.11 Legumbre

In [48]:
df_legumbre = df[df.Producto=="Legumbre"]

In [49]:
group = df_legumbre.groupby(['Momento', 'Sector', 'Producto'])

In [50]:
dfs_legumbre = GetSerieProducto(df_legumbre, group)

In [51]:
dfs_legumbre.sample(3)

       Momento        Sector  Producto    Factor
131 2016-10-01    Llanquihue  Legumbre  1.000404
122 2016-08-01        Osorno  Legumbre  1.000955
103 2016-04-01  Puerto Montt  Legumbre  1.010879

### 6. Creamos dataset de precios

In [52]:
pd.concat([dfs_legumbre, 
           dfs_huevos, 
           dfs_pan, 
           dfs_lacteos, 
           dfs_frutas, 
           dfs_hortaliza, 
           dfs_carnes, 
           dfs_azucar, 
           dfs_cereales, 
           dfs_harina, 
           dfs_aceite]).to_csv("output/precios_productos.csv", index=False)