# Ponderación

In [1]:
import pandas as pd

In [2]:
df_ine = pd.read_excel('input/ipc_producto_historico_julio2018.xlsx', header=3)

In [3]:
df_ine.head(2)

,DIVISIÓN,GRUPO,CLASE,SUBCLASE,PRODUCTO,PONDERACIÓN,GLOSA,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,...,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00
0,1,1,1,1,1,0.20255,ARROZ,99.95,99.98,100.76,...,133.84,134.98,134.08,133.72,133.66,NaN,NaN,NaN,NaN,NaN
1,1,1,1,2,1,0.09708,HARINA,101.06,101.65,102.79,...,115.61,116.14,116.17,116.65,115.41,NaN,NaN,NaN,NaN,NaN

In [4]:
df_ine = df_ine[['PONDERACIÓN', 'GLOSA']]
df_ine.columns = [['Ponderacion', 'Producto_INE']]

In [5]:
len(df_ine)

321

In [6]:
df_ine.loc[0:3,:]

  Ponderacion Producto_INE
0     0.20255        ARROZ
1     0.09708       HARINA
2     0.18699       CEREAL
3     2.09319          PAN

In [7]:
df_ine['Producto'] = df_ine['Producto_INE'].replace({'ARROZ':'Cereales',
                                                     'HARINA':'Harina',
                                                     'CEREAL':'Cereales',
                                                     'PAN':'Pan',
                                                     'PASTAS':'Cereales',
                                                     'CARNE DE VACUNO':'Carnes',
                                                     'CARNE DE CERDO':'Carnes',
                                                     'CARNE DE PAVO':'Carnes',
                                                     'CARNE DE POLLO':'Carnes',
                                                     'CECINAS':'Carnes',
                                                     'HAMBURGUESA':'Carnes',
                                                     'LECHE EN POLVO':'Lacteos',
                                                     'LECHE LÍQUIDA':'Lacteos',
                                                     'LECHE CONSERVADA':'Lacteos',
                                                     'YOGHURT':'Lacteos',
                                                     'POSTRES LÁCTEOS':'Lacteos',
                                                     'QUESO':'Lacteos',
                                                     'HUEVOS':'Huevos',
                                                     'MANTEQUILLA':'Lacteos',
                                                     'MARGARINA':'Lacteos',
                                                     'ACEITE VEGETAL':'Aceite',
                                                     'MANZANA':'Frutas',
                                                     'NARANJA':'Frutas',
                                                     'PERA':'Frutas',
                                                     'PLÁTANO':'Frutas',
                                                     'FRUTAS DE ESTACIÓN':'Frutas',
                                                     'ACELGA Y ESPINACA':'Hortaliza',
                                                     'CEBOLLA Y CEBOLLÍN':'Hortaliza',
                                                     'LECHUGA':'Hortaliza',
                                                     'LIMÓN':'Frutas',
                                                     'PALTA':'Frutas',
                                                     'TOMATE':'Hortaliza',
                                                     'ZANAHORIA':'Hortaliza',
                                                     'ZAPALLO':'Hortaliza',
                                                     'ZAPALLO ITALIANO':'Hortaliza',
                                                     'VERDURAS DE ESTACIÓN':'Hortaliza',
                                                     'LEGUMBRES':'Legumbre',
                                                     'PAPA':'Hortaliza',
                                                     'AZÚCAR':'Azucar'})

In [8]:
productos = ['ARROZ','HARINA','CEREAL','PAN','PASTAS','CARNE DE VACUNO','CARNE DE CERDO','CARNE DE PAVO','CARNE DE POLLO','CECINAS','HAMBURGUESA','LECHE EN POLVO','LECHE LÍQUIDA',
            'LECHE CONSERVADA','YOGHURT','POSTRES LÁCTEOS','QUESO','HUEVOS','MANTEQUILLA','MARGARINA','ACEITE VEGETAL','MANZANA','NARANJA','PERA','PLÁTANO','FRUTAS DE ESTACIÓN','ACELGA Y ESPINACA',
            'CEBOLLA Y CEBOLLÍN','LECHUGA','LIMÓN','PALTA','TOMATE','ZANAHORIA','ZAPALLO','ZAPALLO ITALIANO','VERDURAS DE ESTACIÓN','LEGUMBRES','PAPA','AZÚCAR']

In [9]:
df_ine.head()

  Ponderacion Producto_INE  Producto
0     0.20255        ARROZ  Cereales
1     0.09708       HARINA   Harinas
2     0.18699       CEREAL  Cereales
3     2.09319          PAN       Pan
4     0.36509      GALLETA   GALLETA

In [10]:
productos = ['ARROZ','HARINA','CEREAL','PAN','PASTAS','CARNE DE VACUNO','CARNE DE CERDO','CARNE DE PAVO','CARNE DE POLLO','CECINAS','HAMBURGUESA','LECHE EN POLVO','LECHE LÍQUIDA',
            'LECHE CONSERVADA','YOGHURT','POSTRES LÁCTEOS','QUESO','HUEVOS','MANTEQUILLA','MARGARINA','ACEITE VEGETAL','MANZANA','NARANJA','PERA','PLÁTANO','FRUTAS DE ESTACIÓN','ACELGA Y ESPINACA',
            'CEBOLLA Y CEBOLLÍN','LECHUGA','LIMÓN','PALTA','TOMATE','ZANAHORIA','ZAPALLO','ZAPALLO ITALIANO','VERDURAS DE ESTACIÓN','LEGUMBRES','PAPA','AZÚCAR']

def cleanup(row):
    global productos
    if row['Producto_INE'].isin(productos).iloc[0] == True:
        return 'Mantener'
    else:
        return 'Desechar'

In [11]:
df_ine['Accion'] = df_ine.apply(cleanup, axis=1)

In [12]:
df_ine.to_csv("output/ponderados.csv", index=False)

In [13]:
df = pd.read_csv("output/ponderados.csv")

In [14]:
df.head(5)

   Ponderacion Producto_INE  Producto    Accion
0      0.20255        ARROZ  Cereales  Mantener
1      0.09708       HARINA   Harinas  Mantener
2      0.18699       CEREAL  Cereales  Mantener
3      2.09319          PAN       Pan  Mantener
4      0.36509      GALLETA   GALLETA  Desechar

In [15]:
df.Accion.value_counts()

Desechar    282
Mantener     39
Name: Accion, dtype: int64

In [16]:
df = df[df.Accion=="Mantener"]

In [17]:
df.drop(['Producto_INE','Accion'], axis=1, inplace=True)

In [18]:
df.Producto.value_counts()

Hortaliza    9
Lacteos      8
Frutas       7
Carnes       6
Cereales     3
Harinas      1
Aceite       1
Legumbre     1
Pan          1
Huevos       1
Azucar       1
Name: Producto, dtype: int64

In [19]:
df = df.groupby(['Producto']).sum()

In [20]:
df.sum(axis=0)

Ponderacion    13.35292
dtype: float64

In [21]:
df_ine.Ponderacion.sum(axis=0)

Ponderacion    100.0
dtype: float64

In [22]:
df

           Ponderacion
Producto
Aceite         0.34550
Azucar         0.18716
Carnes         4.38211
Cereales       0.67947
Frutas         1.18325
Harinas        0.09708
Hortaliza      1.69038
Huevos         0.33391
Lacteos        2.22952
Legumbre       0.13135
Pan            2.09319

In [23]:
suma_antes = df.sum(axis=0)

In [24]:
df['Ponderacion_Nueva'] =  df['Ponderacion'] / 13.35292

In [25]:
df

           Ponderacion  Ponderacion_Nueva
Producto
Aceite         0.34550           0.025874
Azucar         0.18716           0.014016
Carnes         4.38211           0.328176
Cereales       0.67947           0.050885
Frutas         1.18325           0.088614
Harinas        0.09708           0.007270
Hortaliza      1.69038           0.126593
Huevos         0.33391           0.025007
Lacteos        2.22952           0.166969
Legumbre       0.13135           0.009837
Pan            2.09319           0.156759

In [26]:
df.sum(axis=0)

Ponderacion          13.35292
Ponderacion_Nueva     1.00000
dtype: float64

In [ ]:
df.rename

In [31]:
df.reset_index(inplace=True)

In [32]:
df.to_csv("output/w_ponderados.csv", index=False)